#input-el{
display:block;
width: 100%;
height: 30px;
padding:auto;
margin:4px;
box-sizing: border-box;
}
button{
    display: inline;
    width:140px;
    height:35px;
    color:white;
    background-color: green;
    border:2px solid green;
    border-radius: 1px;
    padding:auto;
    font-weight:bold;
    text-align: center;
    margin:4px;

}
body{
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}
ul{
   
    list-style: none;
    margin-top:5px;
}
li a{
    margin-top:5px;
    color:green;
}
#del-btn{
    color:green;
    background: white;
}